
<div id="header">

<main class = "container">
  <h2>
    <span>Shopping is the art of discovering beauty, value,<br><br> and expression in the things we bring into our lives</span>
   </h2>  
  
  
  </main>
</div>
