<div id="services">
  <div class="container">
    <h1 class="sub-title">My Services</h1>

    <div class="services-list">
      <div>
        <i class="fa-solid fa-code"></i>
        <h2>Pants</h2>
        <p>pants of all brands with different styles .</p>
      </div>

      <div>
        <i class="fa-solid fa-crop-simple"></i>
        <h2>T-shirt</h2>
        <p>t-shirt of all brand .</p>
      </div>

      <div>
        <i class="fa-brands fa-app-store-ios"></i>
        <h2>shirt</h2>
        <p>types of shirts like formal , party , plian , printed</p>
      </div>
    </div>
  </div>
</div>
