:host {
    flex: auto;
}

.app-home-page__wrapper {
    width: 100%;
    height: 100%;
}

.app-home-page__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    height: 100%;
}

.app-home-page__main-image {
    width: auto;
    height: 300px;
}

.header-text{
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    line-height: 1em;
}

.header-text h1 span{
    color: #764abc;
}

.header-text{
    padding: left 200px;
    padding-top: 150px;
}
h6{
    font-size: 15px;
}
h2{
    font-size: 35px;

}
.img{
   margin-top: -12%;
}
img{
    height:340px;
    padding-left: 65%;

}