:host {
    height: 86px;
    border-bottom: 3px solid #ccc;
}

.logo {
    width: auto;
    height: 65px;
    padding: 0 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
p{
    font-size: 16px;
}

nav ul li a {
    color: #764abc;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 5px;
    background: #764abc80;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #764abccc;
}

nav ul li a:hover::after {
    width: 100%;
}
